<!--mat-card>
    <form #authForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="example-container"> 
                    <mat-form-field>
                    
        <input matInput placeholder=" author name" [(ngModel)] = "author" name="author"  required #spy #temp = "ngModel">
        
        <mat-error *ngIf = "!(temp.valid||temp.pristine)">Name is required</mat-error>
        </mat-form-field>
        <div >
        <button mat-raised-button color="primary" [disabled]="!authForm.form.valid" this.author=this.name>Save</button>
    </div>   
    </div>
    </form>
</mat-card-->

<mat-card>
    <form #authForm="ngForm"(ngSubmit)="onSubmit()">
            <div class="example-container"> 
         <h4>Author Name</h4>
         <input [(ngModel)]="name"
                            name="name"
                            placeholder={{name}}
                            required
                            #auth = "ngModel">
        <mat-error *ngIf="!(auth.valid || auth.pristine)">
         Author Name is required
     </mat-error>
     
     <div>
     <button [disabled]="!authForm.form.valid">Change Author Name</button>
    </div>
</div>
     </form>
     </mat-card>