<div class="example-button-row">
  <button
    mat-raised-button color="primary"
    routerLink="/addPost">
    ADD POST
  </button>
</div>
<mat-accordion>
  <!--form #addAll="ngForm" (ngSubmit)="onSubmit()">
        <button mat-raised-button color="primary">Save Posts</button>   
  </!--form-->
       <mat-expansion-panel *ngFor = "let post of Posts$ | async">
    
          <mat-expansion-panel-header>
    
            <mat-panel-title>
    
              {{post.title}}
    
            </mat-panel-title>
    
          </mat-expansion-panel-header> 
        
           {{post.body}} 
           <div>
            by {{post.author}}
           </div>
           <button 
          mat-raised-button color="primary"
          (click)= deletePost(post.id) >Delete</button>
             
              <button
                  mat-raised-button color="primary"
                  [routerLink]="'/addPost/'+post.id">
                  Update
              </button>
          
    
    </mat-expansion-panel>
    
</mat-accordion>