<mat-selection-list #a>
  <p *ngIf = "!(authors$ | async)" >Loading...</p>
        <mat-list-option *ngFor="let author of authors$ | async">
          <div *ngIf="author.id == id;else other"> <p mat-line>{{name}}</p>
            <a [routerLink]="['/editauthor',author.id,author.name]" routerLinkActive="active">edit</a></div>
            <ng-template #other><h3 mat-line > {{ author.name }}  </h3>
         
         <a [routerLink]="['/editauthor',author.id,author.name]" routerLinkActive="active">edit</a></ng-template>
          
        </mat-list-option>
</mat-selection-list>
<mat-card>
  <h3>New Author</h3>
  <form #newAuthor="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">   
        <input placeholder="author's name" [(ngModel)] = "newauthor" name="newauthor" required  #newAuth = "ngModel">
        <mat-error *ngIf="!(newAuth.valid || newAuth.pristine)">
          Author is required
        </mat-error>      
     
      <div >
        <button mat-raised-button color="primary" [disabled]="!newAuthor.form.valid">Add Author</button>
    </div>
    </div>   
  </form>
</mat-card>

      <p>
        Options selected: {{a.selectedOptions.selected.length}}
      </p>
      